body {
  background-color: #f8f9fa;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

body::before {
  display: block;
  content: "";
  height: 80px;
}

main {
  background: url("image assets/scott-blake-x-ghf9LjrVg-unsplash.jpg") center/cover
    no-repeat;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.199);
  background-blend-mode: darken;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.nav-item a {
  color: grey;
  transition: all 0.5s;
}

.project-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
  background: #212529;
  color: white;
  padding: 30px 0;
}
