@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.logo {
    font-size: 6rem;
}


body::before {
    display: block;
    content: '';
    height: 80px;
}

body {
  overflow-x: hidden;
  font-family: Roboto;
}



.item{
 height: 540px;
}

.img {
    height: 100%;
    object-fit: cover;
    filter: brightness(.6);
}

.para {
    width: 100%;
}
