@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.logo {
  font-size: 6rem;
}

body::before {
  display: block;
  content: "";
  height: 80px;
}


body {
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

.nav-item a {
  color: grey;
  transition: all 0.5s;
}

.nav-item a:hover {
  border-radius: 10px;
  color: #ffc107;
  border: none;
}

.item {
  height: 500px;
}

.img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.para {
  width: 100%;
}

.my-paragraph {
  color: gray;
}

.card {
  border-radius: 24px;
}

.the-btn {
  width: 50%;
}
.form-control::placeholder {
  color: grey;
}

@media (max-width: 1200px) {
  .card-title{
  font-size: 20px;
}
}




